{% extends '_base.html' %}
{% load static %}

{% block title_block %}
    {{post.title}}
{% endblock %}

{% block body %}
<div class="blog-post">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.created}} by {{post.author}}</p>
    <p class="blog-post-meta">
      Tags:
      {% for tag in post.tags.all %}
        <a href="{% url "post_list_by_tag" tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    {{ post.content|safe }}

    {% if similar_posts %}
        {% for post in similar_posts %}
            You may also like:
          <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </p>
        {% endfor %}
    {% endif %}

   {% if perms.blog.can_change_post %}
        <a class="btn btn-outline-danger" href="{% url "post_edit" post.pk %}">Edit</a>
    {% endif %}
</div>
{% endblock body %}







