{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}

    {% if tag %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "post_list" %}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tag }}</li>
          </ol>
        </nav>
    {% endif %}

    {% for post in post_list %}
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
    {#                <strong class="d-inline-block mb-2 text-primary">World</strong>#}
                        <h3 class="mb-0">{{post.title}}</h3>
                        <div class="mb-1 text-muted">{{post.created}}</div>
                         <p class="card-text mb-auto">{{post.content|striptags|slice:':140'}}</p>
                    <a href="{{ post.get_absolute_url }}" class="stretched-link">Continue reading...</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">No posts yet...</h3>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock body %}