{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block body %}

    <h1>About Page</h1>


        <p>
            I'm a junior full-stack web developer. I have an interest in Python backends and in particular
            the Django web framework. I have worked for many years as a third line support engineer, at both startups
            and enterprise level SaaS platforms. Now looking for my first opportunity creating software,
            as opposed to just helping to fix it!
        </p>

    <img src="{% static 'img/ps_alt.jpg' %}" class="about-pic">

{% endblock body %}