{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block body %}


        <p>
            I currently work as a 'Senior Technical Support Engineer' at a legaltech SaaS Platform. I have an interest in Python backends and in particular
            the Django web framework. Wherever possible, I am writing integrations with our product's REST API and helping our client's developers do the same.
            I have many years experience at both startups and enterprise level software companies. Please see my Github page for examples of what I've been upto recently!
        </p>

    <img src="{% static 'img/ps_alt.jpg' %}" class="about-pic">

{% endblock body %}