{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block body %}


        <p>
            I work as a Support Engineer for B2B SaaS Platforms and have for the past few years specialised in
            integrations and APIs. I believe that to meaningfully help developers write software, a support team
            should be doing the same. Over the years, I've produced demo applications, internal tools and client libraries
            for the products I work with. Examples are available on my <a href="https://github.com/pj-simpson">Github<a/>.
            I have many years experience at both start-ups and enterprise level companies, across a variety of different
            sectors including legal and fintech.
        </p>

    <img src="{% static 'img/ps_alt.jpg' %}" class="about-pic">

{% endblock body %}